$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

/* app css stylesheet */

body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
}

.main {
  clear:both;
}

//.nav {
//  list-style-type: none;
//  padding: 0;
//}
//
//.nav li {
//  float: left;
//  margin-right: 10px;
//}
//
//.nav:after {
//  clear:both;
//}

a {
  color: #00B7FF;
}

form {
  margin-top: 15px;
}

.login {

  .alert-wrapper {

    .alert {

      margin-bottom: 0;
      padding: 9.5px 15px;
      font-size: 15px;
      text-align: center;

      &.ng-enter {
        -webkit-transition:0.5s linear all;
        transition:0.5s linear all;
        opacity: 0;
      }

      &.ng-enter.ng-enter-active {
        opacity:1;
      }

    }
  }

}

button {
  outline: none;
}
